$main-color: hsl(297, 83%, 16%);

.onoff {
    height: 15rem;


    img {
        display: block;

        position: relative;
        top: 1rem;


        margin-left: auto;
        margin-right: auto;

        width: 10rem;
        height: 10rem;

        border: 1px solid black;

        border-radius: 50%;
        box-shadow: 2px 4px 15px black;    
    }

    p {
        display: block;
        
        position: relative;

        text-align: center;
        margin-top: 2.5rem;

        color: white;

        font-weight: 700;
        font-size: 1.7em;

    }


    @media screen and (min-width: 900px) {
        position: relative;

        width: 90%;
        height: 90%;
    
        margin: auto;
    
        background-color: white;
    
        border-radius: 1rem;

        img {
            background-color: hsl(260, 83%, 16%);
            margin: 0;
            left: 1rem;
            box-shadow: 1px 1px 1px black;
        }

        p {
            width: 90%;

            color: black;
            
            font-size: 2em;

            position: relative;
            top: -7rem;
            right: -5rem;

            z-index: 2;
        }
    }
}